body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 90vh;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.list-container {
  max-height: 80vh; /* 设置最大高度 */
  overflow-y: auto; /* 使列表可滚动 */
  padding-right: 10px; /* 增加滚动条右边距 */

}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #444444;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  text-align: left;
  font-size: 28px;
  color: #dddddd;
}

li .emphasize {
  color: orange;
}

li strong {
  font-size: 32px;
  color: #ffffff;
}
